@import "../../mixins/container";
@import "../../mixins/typography";
@import "../../mixins/gradient-border";

.scheduleFullSection {
  background-color: #fff;
}

.scheduleFullSection__container {
  @include container;
  padding-top: 2.75rem;
  padding-bottom: 4rem;
}

.scheduleFullSection__heading {
  @include h2($color: rgba(0, 9, 60, 1));
  margin-bottom: 0.75rem;
}

.scheduleFullSection__lists {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}

.scheduleFullSection__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  @include gradient-border;
}

.scheduleFullSection__listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.25rem;

  &:first-child {
    margin-top: 2.5rem;
  }
}

.listItem__heading {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.75rem;
}

.listItem__icon {
  width: 3rem;
  margin: 0 auto;
}

.listItem__text {
  font-weight: 500;
  margin-top: 0.75rem;
}

@media screen and (min-width: 1440px) {
  .scheduleFullSection {
    background-color: #f6f7f9;
    padding: 6.5rem 0 3.75rem;
  }

  .scheduleFullSection__heading {
    text-align: left;
    margin-bottom: 2.5rem;
  }

  .scheduleFullSection__lists {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;

    & > div {
      flex: 1 1 50%;
    }
  }

  .scheduleFullSection__listItem {
    flex-direction: row;
    align-items: center;
    width: 100%;

    &:first-child {
      margin-top: 2rem;
    }
  }

  .listItem__heading {
    margin: 0 0 0 2.5rem;
    width: 9.125rem;
  }

  .listItem__icon {
    margin: 0 1.25rem 0 0;
  }

  .listItem__text {
    margin-top: 0;
  }
}
