.footer {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0.625rem;
  background-color: rgba(0, 9, 60, 1);
}

.footer__socialIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0 1.5rem;
}

.footer__text--white {
  color: #fff;
}

.footer__phoneLink {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
}

.footer__address {
  margin-bottom: 0.75rem;
}

.footer__emailLink {
  text-decoration: none;
}

.footer__copyrightText {
  color: rgba(189, 189, 189, 1);
  margin-top: 2rem;
}
