.scrollableContainer {
  position: relative;
}

.list {
  display: flex;
  overflow-x: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  width: 12.5rem;
  height: 8.5rem;
  background-color: aquamarine;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-shrink: 0;
}

.item:not(:last-child) {
  margin-right: 1em;
}

@media screen and (min-width: 1440px) {
  .item {
    width: 19.5rem;
    height: 13.125rem;
  }
}
